<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>DoFix</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>do_fix</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>http</string>
		<string>https</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to allow you to capture and upload photos for service requests.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>We need access to your documents for file management</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>DoFix needs your location to determine your service zone and provide the best available service providers in your area according to our zoneId system. We also need location access when you book a service request to save the exact coordinates (latitude and longitude) of your service location for accurate address tracking on maps.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>DoFix needs your location to determine your service zone and provide the best available service providers in your area according to our zoneId system. We also need location access when you book a service request to save the exact coordinates (latitude and longitude) of your service location for accurate address tracking on maps.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>DoFix needs your location to determine your service zone and provide the best available service providers in your area according to our zoneId system. We also need location access when you book a service request to save the exact coordinates (latitude and longitude) of your service location for accurate address tracking on maps.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need to save images to your photo library</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to upload and save images</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
